#shortcut .center980{
  width: 100%;
  /*overflow: hidden;*/
}
*{
  font-family: "微软雅黑"!important;
}
#pleaseLoginDiv{
  padding: 0px;
  margin-left: 25px;
}
#shortcut .menu{
  width: 102px;
}
#shortcut .mall{
  width: 80px;
}
#shortcut ul{
  margin-right: 20px;
}
#shortcut .moreServiceOn{
  padding-right: 7px;
}
#shortcut .poRe b{
right: -5px;
}
#shortcut{
  background-image: none;
  background-color: #f9f9f9;
  border-bottom: 1px solid #eaeaea;
}
#guideNav{
  background-color: #f3f3f3;
  border: none!important;
}
#guideNav{
  position: static;
}
.navbar{
  margin-bottom: 0;
}
.left_w ul.navbar-top-links li{
  width: auto;
  text-align: left;
  height: auto;
  line-height: inherit;

}
.left_w ul.navbar-top-links a:-webkit-any-link{
  display: inline-block;
}
.left_w ul.navbar-top-links .dropdown-messages-box a:hover{
  background-color: none;
  height: auto;
  line-height: inherit;
  width: auto;
}
.dropHover{
  position: relative;
}
#guideNav .dropHover .dropdown-menu{
  position: absolute;
  left: -30px;
  top: 50px;
  width: 450px;
}
.media-body a:hover{
  color: #999!important;
}
.dropHover>a{
  text-decoration: none;
}
a:visited{
  text-decoration: none!important;
}
#my_area{
  color: #ff6600;
  font-size: 20px;
  font-weight: bold;
}
.right_w{
  float: right;
}
.hotSearch .hot{
  padding-left: 5px;
}
.searchForm{
  margin-top: 25px;
  margin-right: 25px;
}
.left_w{
float: left;
  margin: 15px 0;
  margin-left: 10px;
  margin-bottom: 0px;
}
.new_san{
  height: 44px;
  width: 100%;
  background-color: #f36f2a;
  clear: both;
  margin-top: 5px;
}
.navbar-top-links{
  margin-bottom: 0px;
}
.left_w1,.left_w2{
  float: left;
}
.left_w3{
  float: right;
  margin-top: 10px;
  margin-right: 26px;
  position: relative;
  padding-bottom: 4px;
}
.money_w3{
  border: 2px solid #f36f2a;
    background: #fff;
    position: absolute;
    top: 32px;
    right: 0;
    border-top: none;
    width: 340px;
    z-index: 2;
    min-height: 80px;
    display: none;

}
.money_w3 p{
  text-align: center;
  margin-top: 20px;

}
.left_w2 li{
  float: left;
  width: 90px;
  text-align: center;
  height: 44px;
  line-height: 44px;
  position: relative;
}
.left_w2 li a{
  height: 44px;
    line-height: 44px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}
.left_w2 li:hover{
  background-color: #ec5e00;
}
.left_w1{
  width: 16.66%;
  border-right: 1px solid #fff;
}
.left_w1 h1 {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    padding-top: 13px;
    padding-left: 50px;
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 44px;
    margin-right: 15px;


}
.left_w1 img{
  margin-left: 25%;
}
.left_w2 li a:hover{
  text-decoration: none!important;
}
.money_w1,.money_w2{
  float: left;
  background-color: #fff;
  cursor: pointer;
}
.money_w1{
  width: 140px;
height: 28px;
float: left;
display: block;
padding-left: 26px;
margin-right: 1px;
line-height: 28px;
font-size: 12px;
}
.money_w1 img{
  margin-left: 22px;
}
.money_w2{
  width: 86px;
  height: 28px;
  line-height: 28px;
  color: #ff6600;
  font-size: 12px;
}
.money_w2 a{
  color: #ff6600;
  font-size: 12px;
  text-decoration: none;
}
.money_w2 a img{
  vertical-align: middle;
  margin-left: 5px;
  margin-bottom: 2px;
}
#searchType:hover{
  overflow: inherit;
  height: auto;
  background-position: 0% 0%;
}
.li-two{
  background-color: #fff;
}
.li-one:hover,.li-two:hover{
  background-color: #f6f6f6;
}

body{
  background-color: #f5f5f5;
}
.nav-list-item:hover{
  text-decoration: none;
  color: #c9c9c9;
}
.mall dd{
  width: 80px;
  margin-left: -10px;
}
.menu dd{
  width: 102px;
margin-left: -10px;
}
.menu dd div,.mall dd div{
  margin-left: 10px;
}


.data_w{
  clear: both;
display: none;
}
.nav_w{
  overflow: hidden;
}
.nav_w p{
  text-align: center;
  width: 33.3%;
  float: left;
}
.main_wf span{
  float: left;
  width: 33.3%;
  text-align: center;

}
.main_wf{
  margin-top: 5px;
  margin-bottom: 5px;
  overflow: hidden;
}
.jg_w,.nm_w{
  margin-top: 16px;
}
.gouwu_text{
  max-height: 165px;
  overflow: hidden;
}
.more_w{
  text-align: right;
  display: none;
  margin: 5px 15px 5px 0;
}

/*冲突补丁*/
#profile-modal .nav li a:-webkit-any-link {
  display: block;
}
#profile-modal .nav li a {
  height: auto;
  color: #666;
  line-height: inherit;
  font-size: 12px;
  font-weight: normal;
}
#profile-modal .nav li {
  position: static;
  height: auto;
  line-height: inherit;
}
#profile-modal .nav li a:hover,
#profile-modal .nav li a.hover {
  background-color: #c9c9c9;
  width: auto;
  left: auto;
  top: auto;
}
#profile-modal .nav li.active a{
  color: #fff;
}
#profile-modal .nav li.active a:hover{
  background-color: #1ab394
}
#data-scroll .nav li a{
  height: auto;
color: #666;
  line-height: inherit;
width: 66px;
}
#data-scroll .nav li.active a{
  color: #f60;
}
#data-scroll .nav li{
  width: 66px;
  text-align: left;
  height: auto;
  line-height:  inherit;
  position:  static;
}
#data-scroll .nav li a:hover{
  left: auto;
}
.cli_ck small{
  float: right;
  display: none;
}
#guidePos .gexx1{
  top: 18px;
}
#guideNav .searchForm{
	margin-top:18px;
}